<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="ehdaa-admin" format=":str&lt;ehdaa_id&gt;/" controller="Boussaid\Ehdaa\XF:Ehdaat" context="ehdaaAdmin"/>
  <route route_type="public" route_prefix="ehdaa" format=":str&lt;ehdaa_id&gt;/" controller="Boussaid\Ehdaa\XF:Ehdaa"/>
</routes>
